NODES = "[{'name': 'serviceProvider', 'ip': '192.168.2.8', 'port': '7755','blockchainName': 'supplyChain', 'user': 'multichainrpc', 'password': '9xtPu4ufFVhNA3NbjsnZuZHVmm5gtkQPxpNYftzofqcV'}, \
{'name': 'customer', 'ip': '192.168.2.11', 'port': '7755','blockchainName': 'supplyChain', 'user': 'multichainrpc', 'password': '43sDDDYzMYryRsGGU5svRt1yF4oxcy9H1Wi7TohP7C2q'}, \
{'name': 'logistics', 'ip': '192.168.2.13', 'port': '7755','blockchainName': 'supplyChain', 'user': 'multichainrpc', 'password': 'GtzMnvtRMEs9eTVR94Ti8WiBjsf9eojLeoPP9GJyJa9g'}, \
{'name': 'oem', 'ip': '192.168.2.2', 'port': '7755','blockchainName': 'supplyChain', 'user': 'multichainrpc', 'password': 'CpNLLKewcqr6YtCibGq1RouCcWDdsoebcT19f6FgMzR'},  ]"
