NODES = "[{'name': 'serviceProvider', 'ip': '192.168.2.8', 'port': '7755','blockchainName': 'supplyChain', 'user': 'multichainrpc', 'password': '3T1Sqsr9Jc31SPnyzVmJWzoHwfqifZ3c9fMUBrFeKbVB'}, \
{'name': 'customer', 'ip': '192.168.2.2', 'port': '7755','blockchainName': 'supplyChain', 'user': 'multichainrpc', 'password': '4oUMULuQeTmy19324ZUGput4BvpynwnN4gToHLGWH77K'}, \
{'name': 'oem', 'ip': '192.168.2.11', 'port': '7755','blockchainName': 'supplyChain', 'user': 'multichainrpc', 'password': '9zxahMtvkDavT15p6h31eo3zkNiJbp4e6tD9bArE3cwo'}, \
{'name': 'iot', 'ip': '192.168.2.13', 'port': '7755','blockchainName': 'supplyChain', 'user': 'multichainrpc', 'password': '6VB2vNXRToKFwGUpGJFUpo5AeiK9zSVQA13ZujBdMVjY'}, \
{'name': 'bank', 'ip': '192.168.2.10', 'port': '7755','blockchainName': 'supplyChain', 'user': 'multichainrpc', 'password': '4JzN3tyDM5qty9WXBfBooFqjKY28s1STNB6qTfXzNjk1'}]"
