{% extends "base.html" %} {% block title %}Refund{% endblock %} {% block content %}
    <h1 align="center">Refund Bank EUR Tokens</h1>
    <br /><br />
    <h3 align="center">
        In order to have your EUR Token converted to regular EUR,
    </h3>
    <h3 align="center">
        burn them by sending them to the following Address:
    </h3>
    <br /><br />
    <div align="center">
        <input type="text" value="{{ address }}" id="myInput">
        <button onclick="clipboard()">Copy Address</button> 
    </div>
{% endblock %}
    