{% extends "base.html" %} {% block title %}Activate{% endblock %} {% block content
%}
<h1 align="center">Active IoT</h1>
<ul class="list-group list-group-flush" id="notes">
  {% for item in active %}
  <li class="list-group-item">
	  <p>Name: <strong>{{ item }}</strong></p>
  </li>
  {% endfor %}
</ul>
<br /><br />
<form method="POST">
<div class="column1">
  <h3 align = "center">Activate IoT with Atomic Exchange ID</h3>
  <br />
  <textarea name="name" id="name" class="form-control"></textarea>
</div> 
<br />
<div align="center">
  <button type="submit" class="btn btn-success">Submit</button>
</div>
</form>
{% endblock %}
    
