{% extends "base.html" %} {% block title %}History{% endblock %} {% block content
%}
<h1 align="center">History of Transactions</h1>
<ul class="list-group list-group-flush" id="notes">
  {% for item in transactions %}
  <li class="list-group-item">
    {%for asset in item.assets %}
	    Asset: <strong>{{ asset.name }}</strong><br></br>
	    Quantity: <strong>{{ asset.qty }}</strong><br></br>
    {% endfor %}
    {%for addr in item.addresses %}
      Recipient: <strong>{{ addr }}</strong><br></br>
    {% endfor %}
    Blockhash: <strong>{{ item.blockhash }}</strong><br></br>
  </li>
  {% endfor %}
{% endblock %}
    
