{% extends "base.html" %} {% block title %}Send{% endblock %} {% block content
%}
<h1 align="center">Send Assets</h1>
<ul class="list-group list-group-flush" id="notes">
  {% for item in transactions %}
  <li class="list-group-item">
	  Asset: <strong>{{ item.balance.assets.name }}</strong><br></br>
	  Quantity: <strong>{{ item.balance.assets.qty }}</strong><br></br>
    Recipient: <strong>{{ item.balance.addresses }}</strong><br></br>
    Blockhash: <strong>{{ item.balance.blockhash }}</strong><br></br>
  </li>
  {% endfor %}
{% endblock %}
    
