{% extends "base.html" %} {% block title %}New Exchange{% endblock %} {% block content
%}
<br /><br />
<h1 align="center">Create a new Atomic Exchange</h1>
<br /><br />
<form method="POST">
<div class="row4" align="center">
  <div class="column4">
    <h3>Offered Asset</h3>
    <textarea name="name" id="name" class="form-control"></textarea>
  </div>
  <div class="column4">
    <h3>Offered Amount</h3>
    <textarea name="amount" id="amount" class="form-control"></textarea>
  </div>
  <div class="column4">
    <h3>Asked Asset</h3>
    <textarea name="barter" id="barter" class="form-control"></textarea>
  </div>
  <div class="column4">
    <h3>Asked Amount</h3>
    <textarea name="price" id="price" class="form-control"></textarea>
  </div>
</div>
</div> 
<br />
<div align="center">
  <button type="submit" class="btn btn-success">Submit</button>
</div>
</form>
<br /><br /><br />
<form>
<div class="form-group" align="center">
  <input type="text" class="form-control" value="{{ id }}" id="myInput">
  <br />
  <button class="btn btn-success" onclick="clipboard()">Copy ID</button> 
</div>
</form>
{% endblock %}
    
